body {
	background-color: #2F353B !important;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #fff;
	padding: 5px;
	margin: 0px;
}

a {
	color:#fff;
}

h1,h2 {
	color: #E2822B;
}

form {
	margin: 10px;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #D2D5DA;
	border: 1px solid #FFFFFF;
	color: #66788C;
	width: 600px;
}

form p {
	font-weight: bold;
	color: #000;
}

label {
	display: block;
	width: 100px;
	float: left;
}

input[type="input"] {
	padding-left: 120px;
	clear: both;
}
